<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>CoinSlotMediator Test</title>

	<!-- Qunit start -->
	<link rel="stylesheet" href="../../lib/qunit.css" />
	<script type="text/javascript" src="../../lib/qunit.js"></script>
	<!-- Qunit end -->

	<!-- Library start -->
	<script type="text/javascript" src="../../lib/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="../../lib/iron.js"></script>
	<script type="text/javascript" src="../../lib/puremvc-1.0.js"></script>
	<!-- Library end -->

	<!-- Source start -->
	<script type="text/javascript" src="../../sources/common/Common.js"></script>
	<script type="text/javascript" src="../../sources/view/CoinSlotMediator.js"></script>
	<!-- Source end -->

	<!-- Test start -->
	<script type="text/javascript" src="CoinSlotMediator.qunit.js"></script>
	<!-- Test end -->
</head>
<body>
	<h1 id="qunit-header">CoinSlotMediator Test</h1>
	<h2 id="qunit-banner"></h2>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>

	<div id="money-view">
		<div class="input-area"></div>
	</div>
</body>
</html>
