<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>ProductItemComponent Test</title>

	<link rel="stylesheet" href="../../../css/style.css">

	<!-- Qunit start -->
	<link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-git.css" />
	<script type="text/javascript" src="http://code.jquery.com/qunit/qunit-git.js"></script>
	<!-- Qunit end -->

	<!-- Library start -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="../../../lib/iron.js"></script>
	<!-- Library end -->

	<!-- Source start -->
	<script type="text/javascript" src="../../../sources/common/Common.js"></script>
	<script type="text/javascript" src="../../../sources/view/component/ProductItemComponent.js"></script>
	<!-- Source end -->

	<!-- Test start -->
	<script type="text/javascript" src="ProductItemComponent.qunit.js"></script>
	<!-- Test end -->
</head>
<body>
	<h1 id="qunit-header">ProductItemComponent Test</h1>
	<h2 id="qunit-banner"></h2>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>

	<div id="vending-machine">

		<div id="product-view">
			<ul>
			  <li>
			    <div><img src="http://binyroo.github.com/VendingMachine/img/myImg.jpg" width="92" height="92" alt=""></div>
			    <p><strong>콜라</strong>|<span>100원</span></p>
			  </li>
			  <li class="on">
			    <div><img src="http://binyroo.github.com/VendingMachine/img/myImg.jpg" width="92" height="92" alt=""></div>
			    <p><strong>콜라</strong>|<span>100원</span></p>
			  </li>
			  <li>
			    <div><img src="http://binyroo.github.com/VendingMachine/img/myImg.jpg" width="92" height="92" alt=""></div>
			    <p><strong>콜라</strong>|<span>100원</span></p>
			  </li>
			  <li>
			    <div><img src="http://binyroo.github.com/VendingMachine/img/myImg.jpg" width="92" height="92" alt=""></div>
			    <p><strong>콜라</strong>|<span>100원</span></p>
			  </li>
			  <li>
			    <div><img src="http://binyroo.github.com/VendingMachine/img/myImg.jpg" width="92" height="92" alt=""></div>
			    <p><strong>콜라</strong>|<span>100원</span></p>
			  </li>
			  <li>
			    <div><img src="http://binyroo.github.com/VendingMachine/img/myImg.jpg" width="92" height="92" alt=""></div>
			    <p><strong>콜라</strong>|<span>100원</span></p>
			  </li>
			  <li>
			    <div><img src="http://binyroo.github.com/VendingMachine/img/myImg.jpg" width="92" height="92" alt=""></div>
			    <p><strong>콜라</strong>|<span>100원</span></p>
			  </li>
			  <li>
			    <div><img src="http://binyroo.github.com/VendingMachine/img/myImg.jpg" width="92" height="92" alt=""></div>
			    <p><strong>콜라</strong>|<span>100원</span></p>
			  </li>
			</ul>
		</div>
		
		<div id="money-view">
		
			<div class="input-area">
				<p class="input-label">투입구(Drop Here)</p>
				<p class="input-drop"><span>0</span>원</p>
				<button>반환버튼</button>
			</div>
			
			<div class="wallet-area">
				<ul>
					<li>
						<div class="money">
							<img src="http://binyroo.github.com/VendingMachine/img/money0.png" width="120" height="56" alt="50원">
							<p>50원</p>
						</div>
					</li>
					<li>
						<div class="money">
							<img src="http://binyroo.github.com/VendingMachine/img/money1.png" width="120" height="56" alt="100원">
							<p>100원</p>
						</div>
					</li>
					<li>
						<div class="money">
							<img src="http://binyroo.github.com/VendingMachine/img/money2.png" width="120" height="56" alt="500원">
							<p>500원</p>
						</div>
					</li>
					<li>
						<div class="money">
							<img src="http://binyroo.github.com/VendingMachine/img/money3.png" width="120" height="56" alt="1000원">
							<p>1000원</p>
						</div>
					</li>
				</ul>
				<p>지금 내 돈: <span>10000</span>원</p>
			</div>
		</div>
		
		<textarea id="log" name="log"></textarea>
		
	</div>

</body>
</html>
